body {
    background-color: black;
}

#main { 
   background: url(images/BG.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#bg {
    z-index: -10;
    display: none;
}

.cf {
    text-align: center;
    display: block;
    margin: 50px;
}

#homepage{
  position:absolute;
  top:50%;
  left:50%;
  padding: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); 
}

.pannable-image {
    height: 800px;
    text-align: center;
}

#study {
    margin-top: 0px;
}

h3 {
    color: white;
    font-family: arial;
    font-weight: 200;
    font-size: 80px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 1000px
}

h2 {
    color: white;
    font-family: arial;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

#button1{
    color: #218241;
    font-size: 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 600px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    border: 2px solid #218241;
    border-radius: 15px;
    font-family: arial;
}

#button2{
    color: #5E8200;
    font-size: 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    width: 600px;
    margin:0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    border: 2px solid #5E8200;
    border-radius: 15px;
    font-family: arial;
}
/*
.topb{
    margin-left: auto;
        margin-right: auto;

    position: fixed;
    display: inline;
    float: inherit;
}
*/
hr {
    color: white;
    border-width: 2px;
    margin: 50px 50px;
}

h1 {
    color: white;
    font-family: arial;
    font-weight: 100;
    font-size: 60px;
    margin: 50px 50px; 
    margin-top: 20px;
}

p {
    color: white;
    font-family: arial;
    font-size: 30px;
    margin: 50px 50px;
    line-height: 130%;

}

.cool {
    max-height: 600px;
    max-width: 900px;
    display: block;
    margin:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: white;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    margin-top: -50px;
    margin-bottom: -50px;
}

.scrollmenu img {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    height: 600px;
    margin-right: 200px;
}

#last {
    margin-right: 0px;
}

figure {
    margin: 20px 40px 200px;
    display: inline-block;
} 

.powers {
    max-width: 300px;
}

figcaption {
    text-align: left;
    color: white;
    font-family: arial;
    font-size: 20px;
    width: 300px;
    margin: 0px 0px 20px;
    position:absolute;
}

#thatb{
    text-align: center;
}
